/*
%row-centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

%centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/
.Sport-article, .index-news .container .card, .health-article, .contact-form {
  background-color: #e4e4e4;
  border-radius: 20px;
  width: 95%;
}

.contact-title {
  margin: 15px;
}
.contact-title h1 {
  font-size: 24px;
  letter-spacing: 1.5px;
  text-decoration: underline 2px;
}
.contact-title p {
  font-size: 16px;
}
@media screen and (min-width: 501px) {
  .contact-title {
    margin: 40px 11%;
  }
  .contact-title h1 {
    font-size: 36px;
    text-decoration: underline 3px;
  }
  .contact-title p {
    font-size: 18px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
  font-weight: bold;
  align-items: flex-start;
}
.contact-form .form {
  width: 100%;
}
.contact-form .title {
  margin-left: 5px;
}
.contact-form .title h2 {
  font-size: 24px;
  letter-spacing: 1.5px;
  text-decoration: underline 2px;
}
.contact-form .form > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  font-size: 16px;
}
.contact-form input,
.contact-form textarea {
  padding: 8px;
  margin-left: 15px;
  font-size: 16px;
  border: 5px ridge;
  width: 90%;
}
.contact-form .consultation textarea {
  font-size: 16px;
  height: 320px;
  width: 90%;
}
.contact-form .button {
  font-size: 16px;
  display: block;
  height: 50px;
  width: 150px;
  margin: 20px auto;
}
@media screen and (min-width: 501px) {
  .contact-form {
    margin: 0px auto;
    width: 80%;
  }
  .contact-form .title {
    margin-left: 25px;
  }
  .contact-form .title h2 {
    font-size: 36px;
    padding: 20px 0px;
  }
  .contact-form .form > div {
    font-size: 25.2px;
    margin: 50px;
  }
  .contact-form input,
  .contact-form textarea {
    padding: 9px;
    font-size: 18px;
  }
  .contact-form .consultation textarea {
    font-size: 18px;
    height: 180px;
  }
  .contact-form .button {
    font-size: 18px;
    width: 200px;
    height: 60px;
  }
}

.header-telephones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12.8px;
  letter-spacing: 1px;
  align-items: center;
  margin-top: 50px;
  padding-top: 10px;
  height: auto;
  width: 100%;
  background-color: #e4e4e4;
}
.header-telephones p:nth-child(2) {
  display: none;
}
@media screen and (min-width: 801px) {
  .header-telephones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: auto auto 20px;
    font-size: 18px;
  }
  .header-telephones p:nth-child(2) {
    display: flex;
    padding: 10px;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .header-telephones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 21.6px;
    justify-content: space-evenly;
    margin: auto;
    padding: 20px;
  }
  .header-telephones p {
    text-align: center;
    width: 250px;
  }
  .header-telephones p:nth-child(2) {
    display: flex;
    padding: 10px;
    width: auto;
  }
}

.header-logo {
  display: block;
  margin: auto;
  padding-left: 2%;
  width: 75%;
  height: auto;
}
@media screen and (min-width: 801px) {
  .header-logo {
    width: 40%;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .header-logo {
    width: 50%;
  }
}

.header-hospital-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 36px;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
  text-decoration: underline;
  text-align: center;
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .header-hospital-name {
    gap: 10px;
    font-size: 36px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 801px) {
  .header-hospital-name {
    gap: 10px;
    font-size: 72px;
    margin-bottom: 50px;
  }
}

.navbar {
  display: flex;
}
.navbar .nav-item a {
  display: block;
  width: 100%;
  font-size: 24px;
  background-color: #e4e4e4;
  margin: 25px 0px;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}
.navbar .nav-item a:hover {
  background-color: #858585;
  color: white;
}
.navbar .offcanvas-header {
  background-color: #858585;
}
@media screen and (min-width: 501px) {
  .navbar {
    display: none;
  }
}

.navigation-table-father {
  display: none;
}
@media (min-width: 501px) {
  .navigation-table-father {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    font-size: 18px;
    width: 100%;
    gap: 10px;
    padding: 10px;
    background: #e4e4e4;
  }
  .navigation-table-father > * {
    flex: 1 1 0;
    min-width: 0;
  }
  .navigation-table-father a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
    background: #b8b8b6;
    padding-inline: 20px;
    font-size: 18px;
    height: 80px;
  }
}
@media (min-width: 501px) and (min-width: 800px) {
  .navigation-table-father a {
    height: 50px;
  }
}
@media (min-width: 501px) and (min-width: 1070px) {
  .navigation-table-father {
    justify-content: center;
  }
  .navigation-table-father > * {
    flex: 0 0 auto;
    width: auto;
    align-items: center;
  }
  .navigation-table-father a {
    font-size: 21.6px;
    height: 50px;
    width: 200px;
    gap: 20px;
  }
}
@media (min-width: 501px) {
  .navigation-table-father a:hover {
    background: #858585;
    color: white;
  }
}

.footer-table {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  background-color: #858585;
  margin-top: 10px;
  padding: 30px 15px;
}
.footer-table h4 {
  font-size: 24px;
  letter-spacing: 1.5px;
}
.footer-table p {
  font-size: 16px;
  letter-spacing: 1px;
}
.footer-table img {
  width: 10vw;
  min-width: 20px;
  height: auto;
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .footer-table .row {
    flex-direction: column;
    width: 100%;
  }
  .footer-table .row > div {
    width: 100%;
  }
  .footer-table img {
    width: 6vw;
    min-width: 30px;
  }
  .footer-table h4 {
    font-size: 24px;
    letter-spacing: 1.5px;
  }
  .footer-table p {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 801px) {
  .footer-table img {
    width: 3vw;
    min-width: 40px;
  }
  .footer-table h4 {
    font-size: 25.2px;
  }
  .footer-table p {
    font-size: 12.6px;
  }
}

.health-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: "column";
  margin: 20px auto;
}
.health-main h1 {
  font-size: 24px;
  letter-spacing: 1.5px;
  text-decoration: underline 2px black;
}
@media screen and (min-width: 501px) {
  .health-main h1 {
    font-size: 54px;
  }
}

.health-article {
  font-size: 16px;
  letter-spacing: 1px;
  margin: auto;
  padding: 15px;
}
.health-article h2 {
  font-size: 24px;
  letter-spacing: 1.5px;
  text-align: center;
  text-decoration: underline 2px black;
}
.health-article p {
  text-align: justify;
}
.health-article img {
  display: block;
  margin: 15px auto;
  width: 80%;
  height: auto;
  border-radius: 10px;
}
.health-article ul {
  margin: 0px 5px 20px;
}
@media screen and (min-width: 501px) {
  .health-article {
    font-size: 18px;
    width: 85%;
    padding: 30px;
    margin: 50px auto;
  }
  .health-article h2 {
    font-size: 36px;
  }
  .health-article img {
    width: 60%;
  }
  .health-article ul {
    margin: 10px 20px 20px;
  }
}

.body-banner {
  width: 100%;
  height: auto;
  margin: 10px 0px;
}

.index-main {
  font-size: 28.8px;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-align: center;
  background-color: #e4e4e4;
  margin: 25px 0px;
  padding: 5px;
}
@media screen and (min-width: 501px) {
  .index-main {
    font-size: 43.2px;
    padding: 10px;
  }
}

.index-news {
  margin-bottom: 40px;
}
.index-news .container h3 {
  font-size: 24px;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .index-news .container h3 {
    font-size: 28.8px;
    font-weight: bold;
  }
}
@media screen and (min-width: 801px) {
  .index-news .container h3 {
    font-size: 36px;
    font-weight: bold;
  }
}
.index-news .container p {
  font-size: 16px;
  letter-spacing: 1px;
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .index-news .container p {
    font-size: 14.4px;
  }
}
@media screen and (min-width: 801px) {
  .index-news .container p {
    font-size: 18px;
  }
}
.index-news .container .card {
  margin: 10px;
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  .index-news .container .card {
    width: 100%;
  }
}

.sports-main {
  font-size: 33.6px;
  text-align: center;
  text-decoration: underline;
}

.Sport-article {
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
}
.Sport-article h2 {
  font-size: 24px;
  letter-spacing: 1.5px;
  text-align: center;
  text-decoration: underline;
}
.Sport-article img {
  width: 70%;
  height: auto;
  border-radius: 20px;
  display: block;
  margin: 10px auto;
}

@media screen and (min-width: 501px) {
  h1 {
    font-size: 50.4px;
  }
  .Sport-article {
    width: 85%;
    padding: 20px;
    font-size: 18px;
  }
  .Sport-article h2 {
    font-size: 36px;
  }
  .Sport-article img {
    width: 60%;
  }
}
.patient-form {
  background-color: #e4e4e4;
  margin: 10px auto 20px;
  padding: 15px 0px;
  width: 95%;
  border-radius: 10px;
}
.patient-form .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px;
}
.patient-form .form > div {
  padding: 10px;
  margin: 0;
}
.patient-form .form .consultation {
  align-items: center;
}
.patient-form .form .consultation textarea {
  height: 150px;
  width: 100%;
}
.patient-form .form .button {
  font-size: 19.2px;
  background-color: #b8b8b6;
  display: block;
  margin: 20px auto;
  height: 50px;
  width: 150px;
  font-weight: bold;
  align-self: center;
}
.patient-form .form label {
  font-size: 24px;
  letter-spacing: 1.5px;
  font-weight: bold;
}
.patient-form .form input,
.patient-form .form textarea {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 8px;
  border: 5px ridge;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 501px) {
  .patient-form {
    margin: 50px auto;
    padding: 10px 20px;
    width: 80%;
  }
  .patient-form .form {
    gap: 30px;
    padding: 0 10%;
  }
  .patient-form .form .button {
    font-size: 21.6px;
    width: 200px;
    height: 60px;
  }
  .patient-form .form label {
    padding: 0px 5px;
    font-size: 18px;
  }
  .patient-form .form input,
  .patient-form .form textarea {
    font-size: 18px;
    padding: 10px;
  }
}

.patient-form-title {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.patient-form-title h1 {
  font-size: 31.2px;
  text-decoration: underline;
  letter-spacing: 1.5px;
}
@media screen and (min-width: 501px) {
  .patient-form-title {
    margin-bottom: 40px;
    font-size: 18px;
  }
  .patient-form-title h1 {
    font-size: 46.8px;
  }
}

body {
  background-color: #b8b8b6;
}

/*# sourceMappingURL=style.css.map */
