@use "variables" as *;

.header-telephones {
  @include flex-centered(column);
  @include mobile-text("text", 0.8);
  align-items: center;
  margin-top: 50px;
  padding-top: 10px;
  height: auto;
  width: 100%;
  background-color: $secondary-color;

  p:nth-child(2) {
    display: none;
  }

  @media screen and (min-width: 801px) {
    @include flex-centered(row);
    margin: auto auto 20px;
    font-size: $text-paragraph-desktop ;

    p:nth-child(2) {
      display: flex;
      padding: 10px;
    }
  }

  @media screen and (min-width: 501px) and (max-width: 800px) {
    @include flex-centered(row);
    font-size: $text-paragraph-desktop * 1.2;
    justify-content: space-evenly;
    margin: auto;
    padding: 20px;

    p {
      text-align: center;
      width: 250px;

    }

    p:nth-child(2) {
      display: flex;
      padding: 10px;
      width: auto;

    }
  }
}

.header-logo {
  display: block;
  margin: auto;
  padding-left: 2%;
  width: 60%;
  max-width: 550px;
  height: auto;

  @media screen and (min-width: 801px) {
    width: 40%;

  }

  @media screen and (min-width: 501px) and (max-width: 800px) {
    width: 50%;
  }
}

.header-hospital-name {
  @include flex-centered(row);
  @include mobile-text("title", 1.5);
  margin-bottom: 30px;
  text-decoration: underline;
  text-align: center;


  @media screen and (min-width: 501px) and (max-width: 800px) {
    gap: 10px;
    font-size: $text-title-desktop * 1.4 ;
    margin-bottom: 50px;

  }

  @media screen and (min-width: 801px) {
    gap: 10px;
    font-size: $text-title-desktop* 2;
    margin-bottom: 50px;
  }
}

.navbar {
  display: flex;

  .nav-item a {
    display: block;
    width: 100%;
    font-size: 24px;
    background-color: $secondary-color;
    margin: 25px 0px;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
  }

  .nav-item a:hover {
    background-color: $tertiary-color;
    color: white;
  }

  .offcanvas-header {
    background-color: $tertiary-color;
  }

  @media screen and (min-width: 501px) {
    display: none;

  }
}

.navigation-table-father {
  display: none;

  @media (min-width: 501px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    font-size: $text-paragraph-desktop;
    width: 100%;
    gap: 10px;
    padding: 10px;
    background: $secondary-color;

    >* {
      flex: 1 1 0;
      min-width: 0;
    }


    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: black;
      background: $primary-color;
      padding-inline: 20px;
      font-size: $text-paragraph-desktop;
      height: 80px;

      @media (min-width: 800px) {
        height: 50px;
      }
    }

    @media (min-width: 1070px) {
      justify-content: center;

      >* {
        flex: 0 0 auto;
        width: auto;
        align-items: center;

      }

      a {
        font-size: $text-paragraph-desktop * 1.2;
        height: 50px;
        width: 200px;
        gap: 20px;
      }

    }

    a:hover {
      background: $tertiary-color;
      color: white;
    }
  }
}




// --------------------------------------- FOOTER
.footer-table {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  background-color: $tertiary-color;
  margin-top: 10px;
  padding: 30px 15px;
  

  h4 {
    @include mobile-text("title");
  }

  p {
    @include mobile-text("text");
  }

  img {
    width: max(10vw);
    min-width: 20px;
    height: auto;
  }

  @media screen and (min-width: 501px) and (max-width: 800px) {
    .row {
      flex-direction: column;
      width: 100%;
    }
    .row > div{
      width: 100%;
    }

    img {
      width: max(6vw);
      min-width: 30px;
    }

    h4 {
      @include mobile-text("title");
    }

    p {
      @include mobile-text("text");
    }
  }

  @media screen and (min-width: 801px) {
    img {
      width: max(3vw);
      min-width: 40px;
    }

    h4 {
      font-size: $text-title-desktop * 0.7;
    }

    p {
      font-size: $text-paragraph-desktop * 0.7;
    }
  }
}