@use "variables" as *;

.sports-main {
    font-size: $text-title-mobile * 1.4;
    text-align: center;
    text-decoration: underline;

    @media screen and (min-width: 501px) and (max-width: 800px) {
        font-size: $text-title-desktop;
    }

    @media screen and (min-width: 801px) {
        font-size: $text-title-desktop * 1.7;
        margin: 50px auto;
    }

}

.Sport-article {
    @extend %secondary-background-mobile;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    font-size: $text-paragraph-mobile;

    h2 {
        @include mobile-text("title");
        text-align: center;
        text-decoration: underline;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        display: block;
        margin: 10px auto;
    }

    @media screen and (min-width: 501px) and (max-width: 800px) {

        margin: 30px auto auto;
        font-size: $text-paragraph-desktop;
        width: 90%;
        padding: 30px;

        h2 {
            font-size: $text-title-desktop;
        }
    }
    
    @media screen and (min-width: 801px) {    
        width: 85%;
        margin: 50px auto;
        padding: 50px;
        font-size: $text-paragraph-desktop;

        h2 {
            font-size: $text-title-desktop;
        }
    
        img {
            width: 60%;
            margin: 30px auto;
        }
    
    }
}
