@use "variables" as *;

.sports-main {
    h1 {
        font-size: $text-title-mobile * 1.4;
        text-align: center;
        text-decoration: underline;

    }
}

.Sport-article {
    @include secondary-background-mobile;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    font-size: $text-paragraph-mobile;

    h2 {
        @include mobile-title;
        text-align: center;
        text-decoration: underline;
    }

    img {
        width: 70%;
        height: auto;
        border-radius: 20px;
        display: block;
        margin: 10px auto;
    }
}

@media screen and (min-width: 501px) {
    .sports-main {
        h1 {
            font-size: $text-title-desktop * 1.4;

        }
    }

    .Sport-article {
        width: 85%;
        padding: 20px;
        font-size: $text-paragraph-desktop;

        h2 {
            font-size: $text-title-desktop;
        }

        img {
            width: 60%;
        }
    }
}